body,
html
{
 width: 100%;
 height: 100%;
 background-color: #1B1D22;
}

p {
    color:  #979797;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 30px;
    @media (max-width: 500px) {
        font-size: clamp(15px, 50%, 24px);

      }
}

input {
    padding: 13px;
    max-width: 320px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 20px;
    @media (max-width: 500px) {
        width: clamp(220px, 30%, 340px);
      }
}